body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: url(https://gogrowimages.s3.eu-west-1.amazonaws.com/websiteassets/leaves.png)
    repeat !important;
}
.btn-primary {
  background-color: #43a047 !important;
  border-color: #1b5e20 !important;
  box-shadow: 0 0 0.2rem rgba(76, 175, 80, 0.5) !important;
}

.btn-primary:hover {
  background-color: #43a047 !important;
  box-shadow: 0 0 0.2rem rgba(67, 160, 71, 0.5) !important;
}

.btn-primary:active {
  background-color: #43a047 !important;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
.dropdown-toggle {
  color: #307c34 !important;
}
#search {
  width: 30%;
  margin: 0 auto;
}
